.experience-container {
	max-width: 700px;
	padding: 10px 15px;
}
.experience-heading {
	margin-bottom: 10px;
}
.experience {
	display: flex;
	flex-direction: column;
}
.companies-tab {
	width: 100%;
	padding: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.about-job {
	width: 100%;
	padding: 15px;
}
.job-role {
	font-size: 20px;
}
.at-company {
	font-size: 16px;
	font-weight: 300;
}
.resp-ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.resp-li {
	position: relative;
	padding-left: 30px;
	margin-bottom: 10px;
	font-size: 16px;
}
.experience ul li::before {
	content: '▹';
	position: absolute;
	left: 0px;
	color: #90caf9;
}
.companies-tab > .active {
	border-bottom: 2px solid #90caf9;
	border-radius: 0px;
}
@media screen and (min-width: 576px) {
	.experience-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.experience-heading {
		margin-bottom: 25px;
	}
	.experience {
		display: flex;
		flex-direction: row;
	}
	.companies-tab {
		width: 30%;
		padding: 15px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.companies-tab > button {
		min-height: 70px;
		min-width: 162px;
	}
	.about-job {
		width: 70%;
		padding: 15px;
	}
	.at-company {
		font-size: 16px;
		font-weight: 500;
	}
	.job-role {
		font-size: 22px;
	}
	.companies-tab > .active {
		border-left: 2px solid #90caf9;
		border-bottom: 0px;
		border-radius: 0px;
	}
}
