.footer-wrapper,
.contact-me,
.contactme-form,
.footer-div {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.footer-wrapper {
	align-items: center;
}
/* .footer-div {
	align-items: center;
} */
.footer-wrapper > h3 {
	font-family: 'Calligraffitti', cursive;
	font-size: 42px;
}
.oppurtunities {
	line-height: 2rem;
}
.media-container {
	display: flex;
}
.media-container img {
	display: none;
}
.media-icon {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	gap: 10px;
}
.media-icon svg {
	height: 15px;
	width: 15px;
}
.iconTitle {
	gap: 10px;
	display: flex;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
}
.iconTitle > a {
	color: rgb(170, 170, 170) !important;
	text-decoration: none !important;
}
.iconTitle:hover {
	text-decoration: underline;
}

@media screen and (min-width: 576px) {
	.footer-div {
		flex-direction: row;
	}
	.contact-me,
	.contactme-form {
		width: 50%;
	}
	.oppurtunities {
		font-size: 20px;
		line-height: 2.5rem;
	}
	.media-container {
		height: 70%;
		display: flex;
		flex-direction: row;
	}
	.media-icon svg {
		height: 25px;
		width: 25px;
	}
}

@media screen and (min-width: 992px) {
	.media-icon {
		width: 50%;
	}
	.media-container img {
		width: 50%;
		display: block;
	}
}
